<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorials</title>
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <h1>Hello, World!</h1>
    {{peoples}}
    <table>
  <tr>
    <th>S. No</th>
    <th>Name</th>
    <th>Age</th>
    <th>Can Vote</th>
  </tr>
  {% for people in peoples %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
    <td>
        {% if people.age >= 18 %}
        👍
        {% else %}
        👎
        {% endif %}
    </td>
    
  </tr>
  {% endfor %}
</table>
    <p>This is a Conatct HTML page.</p>

</body>
</html>
